*{
    text-align: center;
}
h1{
    color: blue;
}
h1::first-letter{
    color: red;
}
div p{
    background-color: rgba(106, 106, 195, 0.868);
}
div p:nth-child(2n+1){
    background-color: yellow;
}

input[type="checkbox"] + label{
    color: aqua;
    font-size: 20px;
}
#btn{
    background-color: purple;
    color: wheat;
}